!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    -# %title= App.config.site_title
    / %link{href: '/assets/foundation/css/_ZURB-foundation.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/assets/style.css', rel: 'stylesheet', type: 'text/css'}
    / %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', type: 'text/javascript'}
    %script{src: '/assets/app.js', type: 'text/javascript'}

    /[if lt IE 9]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js', type: 'text/javascript'}
  %body
    .navbar.navbar-fixed-top
      .container
        = partial('shared/topbar')
    .container
      .content
        -# flash_messages
        = yield

    %footer.navbar-fixed-bottom
      .container
        %p © Abraham Oshel #{Date.today.year}
